.section#section3
	.intro
		h3.title
			span Portfolio
		.container
			.owl-carousel.owl-theme
				div
					.item
						div(class='item__content' style='background-image: url(./portfolio_01.png);')
						.Card-title
							span Kradnoel.com 	
				div
					.item
						div(class='item__content')
						.Card-title
							span Content 	
				div
					.item
						div(class='item__content')
						.Card-title
							span Content 	