.section#section2
	h3.title
		span Skills
	div

	.container
		.row
			.col-6.text
				h4 WEB
				p
					span SASS/LESS, Pug<br>Angular, Vue , iview<br>

			.col-6.text
				h4 BACKEND
				p
					span Javascript, Kotlin, Groovy, C#, PHP<br>Node.js, Springboot, Laravel<br>Express, Socket.io, Sails, Akka, Vert.x

		.row
			.col-6.text
				h4 MOBILE & DESKTOP
				p
					span Android, .NET Core
			.col-6.text
				h4 OTHERS
				p
					span Graph/NoSQL/SQL Databases<br>Testing, Agile Development

		.row
			.col-6.text
				h4 STILL LEARNING
				p
					span UX/UI Design, Machine Learning, DevOps
			.col-6.text
				h4 TOOLS
				p
					span Android Studio, VSCode<br>Adobe XD & Ilustration<br>Gradle, Composer, Gulp, Webpack

